:root {
  --primary-color: rgb(20, 20, 20);
  --light-primary-color: rgb(58, 58, 58);
  --extra-light-primary-color: rgb(119, 119, 119);
  --secondary-color: #ff6978;
  --light-secondary-color: rgb(255, 216, 216);
  --alt-color: #fffcf9;
}
